@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    width:fit-content;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightcoral;
        width: 480px;
    }
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    background-color: rgba(253, 194, 3, 0.845);
    
}

h2 {
    text-shadow: 0px 0.6px 0px rgb(0, 0, 0, 0.3);
    font-size: 50px;
    box-sizing: border-box;
    color: #000;
    margin: 0;
    text-align: center;
    height: 40px;
}

#donation-bar {
    position: relative;
    padding-bottom: 5px;
    left: 550px;
    bottom: 815px;
}

#whosList {
    padding: 1px;
}

header {
    justify-content: space-between;
    justify-content: center;
    width: 500px;
    padding: 5px;
    border-radius: 3px;
    font-size: 40px;
    color: #000;
    text-shadow: 0px 0px 4px 4px rgb(150, 149, 149);;
    /* box-shadow: 0px 0px 0px rgb(222, 132, 22); */
}

#mainGift {
    position: relative;
    width: 250px;
    height: 250px;
    object-fit: fill;
    top: 200px;
    left: 50px;
    border-width: 10px;
    border-radius: 3px;
    box-shadow: 0px 0 5px 5px rgb(148, 148, 148);
}

#giftsFor {
    font-family: "Poppins", sans-serif;
    position: relative;
    font-size: 25px;
    padding-top: 70px;
    left: 65px;
    color: rgb(46, 3, 102);
    list-style-type: none;
    width: 150px;
    cursor: pointer;
    /* background-color: transparent; */
}

#giftsFor li {
    padding: 15px;
}

#giftsFor li:hover {
    background-color: rgb(18, 172, 199);
    color: #000;
    width: 100px;
    border-radius: 8px;
    transform: translate(2px, 1px);
    transition: 0.2s;
    box-shadow: 0px 0 5px 2px rgba(17, 79, 92, 0.792);
}

h3 {
    bottom: 100px;
    background-color: rgb(255, 146, 12);
    border-radius: 8px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

#giftDisplay {
    position: relative;
    left: 360px;
    bottom: 150px;
    font-size: 20px;
    font-family: "Poppins", san-serif;
    width: 500px;
}

/* Name of the gift being displayed */
#nameGift {
    left: 50px;
    font-weight: 500;
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

/* Box wit all the pages content except the left box */
#middleBox {
    position: absolute;
    width: 800px;
    /* border: 5px solid, white solid; */
    margin: 0;
    background-color: #f3f1f19c;
    height: 350vh;
    left: 300px;
    top: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(25, 24, 24, 0.74);
}

/*  where the names are being displayed */
#leftBox {
    position: absolute;
    width: 180px;
    padding: 10px;
    border: 5px solid, white solid;
    margin: 0;
    background-color: #edeaeaae;
    height: 200vh;
    left: 50px;
    top: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(25, 24, 24, 0.74);}

/* FORM */
#iWantMoreGifts {
    background: transparent;
    background-size: cover;
    font-weight: 400;
    color: rgb(0, 0, 0);
    position: relative;
    box-shadow: 0px 0px 5px rgba(25, 24, 24, 0.74);
    border-radius: 5px;
    height: 500px;
    width: 600px;
    left: 400px;
    bottom: 300px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}
#add{
    margin-left: 12pc;
    font-size: 25px;
    font-weight: 500;
}
label{
    display: inline-flex;
    width: 100pt;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin: 0.2cm;
}
input[type="text"] {
    font-size: 18px;
    width: 20pc;
    padding: 8px;
    /* left: 100pc; */
    margin: 5px;
    height: 25px;
    border: none;
    border-radius: 5px;
}
input[type="text"] :hover{
    border: 1px solid black;
}

/* #checkOrder {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgba(255, 255, 255, 0.381);
} */

#finalSubmit {
    font-weight: 400;
    font-size: 20px;
    width: 60%;
    height: 40px;
    margin-left: 9pc;
    color: rgb(0, 0, 0);
    padding: 9px 25px;
    background-color: rgb(221, 39, 129);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    /* transition: all 0.3s ease 0s;    */
}

#finalSubmit:hover {
    background: rgb(88, 164, 6);
    color: #000;
    transform: translate(2px, 1px);
    box-shadow: 3px 5px 5px grey;
    transition: 0.2s;
}

/* Anchor tags  */
a {
    color: rgb(0, 0, 0);
    padding: 9px 25px;
    background-color: rgb(221, 39, 129);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background: rgb(167, 215, 7);
    color: #000;
    box-shadow: 3px 5px 5px grey;
    transform: translate(2px, 1px);
    transition: 0.2s;
}

/* Delete button */
#delete {
    margin-top: 1pc;
}

#delete button {
    width: 165px;
    height: 40px;
    padding: 0 24px;
    font-size: 20px;
    background-color: rgb(189, 8, 51);
    color: #000;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
#delete :hover{
    color: antiquewhite;
    background-color: rgb(124, 9, 30);
    box-shadow: 3px 5px 5px grey;
    transform: translate(2px, 1px);
    transition: 0.2s;

}